#category-container {
    margin: 15vh 5vw 15vh 5vw;
    height: 50vh;
}
#category-header-container{
    display: flex;
    align-items: center;
}
#category-header {
    margin-left: 2.5%;
    color: #262626;
}
#category-scroll-and-data {
    height: 80%;
    display: flex;
}
.scroll-btn-container {
    height: 100%;
    width: 5%;
}
#shows-container {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    #category-container {
        max-width: 100%;
    }
}