#search-container {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    color: #262626;
    background-color: transparent;
    border-radius: 8px;
}
#search-header-container {
    display: flex;
    align-items: center;
}
#search-header {
    margin-left: 2.5%;
}
#display-shows-container {
    margin: 2.5%;
    display: flex;
    justify-content: space-around;
}

#search-no-shows-container {
    margin-top: 20vh;
    font-size: larger;
    font-weight: bold;
}