#profile-select-container {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
}
#profile-select-header {
    margin-top: 25vh;
}
#profiles-container {
    height: 40vh;
    display: flex;
    justify-content: center;
}