#addprofile-container {
    margin: 2%;
    width: 10%;
}

#addprofile-btn {
    height: 50%;
    width: 80%;
    background-color: #abfccc;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}
#addprofile-btn:hover {
    margin-top: 12%;
}
@media screen and (max-width: 750px){
    #addprofile-container {
        width: 20%;
    }
    #addprofile-btn {
        width: 80%;
    }
}