#addprofile-container {
    margin: 2%;
    display: flex;
    align-items: center;
}

#addprofile-btn {
    height: 10vh;
    width: 10vw;
    margin-left: 5%;
    margin-right: 2.5%;
    cursor: pointer;
}