#category-container {
    height: 80%;
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    background-color: transparent;
}
#category-header-container{
    display: flex;
    align-items: center;
}
#category-header {
    margin-left: 2.5%;
    color: #262626;
}
#shows-container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    #category-container {
        max-width: 100%;
    }
}