#create-profile-container {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#create-profile-main {
    height: 60vh;
    width: 70vw;
    background-color: #c1b4f5;
    border: 2px solid #000000;
    border-radius: 8px;
} 

#create-profile-header-container {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#create-profile-header {
    margin-left: 5vw;
}
#create-profile-close {
    height: 8vh;
    width: 8vh;
    margin-right: 5vw;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    transition: 0.5s;
}
#create-profile-close:hover {
    color: #000000;
}


#create-profile-input-container {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#create-profile-input {
    height: 8vh;
    width: 40vw;
    font-size: large;
    border: 2px solid #ffffff;
    border-radius: 6px;
}
#create-profile-submit-btn {
    height: 8vh;
    width: 10vw;
    font-size: large;
    border: 2px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
#create-profile-submit-btn:hover {
    border: 2px solid #000000;
}