#show-profile-box-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

#show-profile-delete-container {
    height: 10%;
    width: 40%;
    margin-top: 3%;
    color: #f0f0f0;
    background-color: #262626;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#show-profile-delete-btn-container {
    height: 100%;
    width: 30%;
    display: flex;
}
.btn {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 750px) {
    #show-profile-delete-container {
        width: 80%;
    }
    #profile-delete-box-header {
        font-size: large;
    }
    .btn {
        /* margin-right: 0; */
    }
}