#header-container {
    height: 10vh;
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
#header-title {
    margin-left: 2vw;
    color: #fff;
}

#header-search-container {
    display: flex;
    align-items: center;
}
#header-search-icon {
    margin-right: 1vw;
    font-size: large;
    background-color: #262626;
    border: none;
    cursor: pointer;
}
#header-search-bar {
    height: 5vh;
    width: 20vw;
    margin-right: 1vw;
    color: white;
    background-color: #444444;
    border: none;
    border-radius: 5px;
}
#header-profile-icon {
    margin-right: 2vw;
    font-size: large;
    background-color: #262626;
    border: none;
    cursor: pointer;
}

#dropdown-container {
    width: 20vw;
    margin-left: 80vw;
    position: fixed;
    top: 10vh;
    background-color: #262626;
    border-top: 2px solid #c1c1c1;
    border-bottom: 2px solid #c1c1c1;
    border-left: 2px solid #c1c1c1;
    text-align: center;
}
.profile-dropdown-line {
    height: 0px;
    color: #262626;
    background-color: #262626;
}
#profile-dropdown-hello {
    color: #ffffff;
    font-size: medium;
}
#profile-dropdown-signout {
    margin: 5%;
    color: #ffffff;
    font-size: medium;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
}