#profile-container {
    margin: 2%;
    width: 10%;
}

#profile-btn {
    height: 50%;
    width: 80%;
    background-color: #7eeff3;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}
#profile-btn:hover {
    margin-top: 12%;
}
@media screen and (max-width: 750px){
    #profile-container {
        width: 20%;
    }
    #profile-btn {
        width: 80%;
    }
}

#profile-delete-btn {
    height: 10%;
    width: 80%;
    color: #c4c4c4;
    font-size: x-large;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 1s;
}
#profile-delete-btn:hover {
    color: #ff0000;
}