#show-container {
    width: 15%;
    /* color: white; */
    color: #262626;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#show-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
#show-btn:hover {
    height: 86%;
    /* margin-top: 12%; */
}
#cover-image {
    margin-top: 5%;
    height: 38vh;
    /* width: 90%; */
}
.display-data-show {
    color: #8b8b8b;
}